/* Icons used in Engintron */
@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot?bi7y57');
	src: url('fonts/icomoon.eot?bi7y57#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?bi7y57') format('truetype'),
		url('fonts/icomoon.woff?bi7y57') format('woff'),
		url('fonts/icomoon.svg?bi7y57#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ng-cpanel:before {
	content: "\e900";
}
